.productCardContainer{
  display: flex;
}
.productCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.productDesc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.productTitle{
  font-family: "Montserrat Medium";
}
.productDrop{
  font-family: "Montserrat Light";
}
.productDescription{
  font-family: "Montserrat Light";
}
.productImg {
  width: 100%;
}
button {
  border-style: none;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #ebc08b;
  background-color: #252b33;
  margin: 0.2rem;
}
